{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "arrowFunctions": true
    }
  },
  "plugins": [
    "@typescript-eslint",
    "eslint-comments",
    "jest",
    "promise",
    "unicorn",
    "import",
    "react",
    "react-hooks"
  ],
  "extends": [
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:eslint-comments/recommended",
    "plugin:jest/recommended",
    "plugin:promise/recommended",
    "plugin:unicorn/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:react/recommended"
  ],
  "rules": {
    "max-len": [2, 120],
    "react/jsx-props-no-spreading": 0,
    "react/prop-types": 0,
    "react/button-has-type": 0,
    "jsx-quotes": [
      "error",
      "prefer-double"
    ],
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "react/display-name": 0,
    "import/no-cycle": 0,
    "unicorn/consistent-function-scoping": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "jsx-a11y/label-has-associated-control": [ 2, {
      "labelComponents": ["Label"],
      "labelAttributes": ["title"],
      "controlComponents": ["Input", "Checkbox", "FancyCheckbox", "Toggle"],
      "depth": 3
    }],
    "object-curly-newline": 0,
    "unicorn/filename-case": 0,
    "unicorn/prefer-query-selector": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "no-confusing-arrow": 0,
    "operator-linebreak": ["error", "after", { "overrides": { "?": "before", ":": "before" } }],
    "unicorn/prevent-abbreviations": [
      "warn",
      {
        "whitelist": {
          "AlertProps": true,
          "CalendarProps": true,
          "AvatarProps": true,
          "ButtonProps": true,
          "IconProps": true,
          "IconButtonProps": true,
          "PositionProps": true,
          "TimeMarkProps": true,
          "TabsetProps": true,
          "props": true,
          "otherProps": true,
          "arePropsEqual": true,
          "prevProps": true,
          "nextProps": true,
          "hoverRef": true,
          "useCombinedRefs": true,
          "targetRef": true,
          "refs": true,
          "ref": true
        }
      }
    ],
    "eslint-comments/disable-enable-pair": ["error", {"allowWholeFile": true}],
    "import/order": ["error", {
      "groups": [
        ["external", "builtin"],
        ["internal", "parent", "sibling", "index"]
      ]
    }]
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "directory": "./"
      }
//      "alias": {
//        "map": [
//          ["@components", "./src/components/base-components"],
//          ["@experience", "./src/components/experience"],
//          ["@pages", "./src/components/pages"],
//          ["@styles", "./src/styles"],
//          ["@", "./src"]
//        ],
//        "extensions": [
//          ".ts", ".tsx", ".json"
//        ]
//      }
    }
  }
}
