{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "arrowFunctions": true
    }
  },
  "plugins": [
    "@typescript-eslint",
    "eslint-comments",
    "jest",
    "import",
    "react",
    "react-hooks"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:eslint-comments/recommended",
    "plugin:jest/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:react/recommended"
  ],
  "rules": {
    "jsx-quotes": [
      "error",
      "prefer-double"
    ],
    "max-len": [2, 120],
    "object-curly-newline": 0,
    "no-confusing-arrow": 0,
    "operator-linebreak": [
      "error",
      "after", {
        "overrides": {
          "?": "before",
          ":": "before"
        }
      }
    ],
    "react/display-name": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "off",
    "react/jsx-props-no-spreading": 0,
    "react/prop-types": 0,
    "react/button-has-type": 0,
    "import/no-cycle": 0,
    "import/no-named-as-default-member": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "import/order": ["error", {
      "groups": [
        ["external", "builtin"],
        ["internal", "parent", "sibling", "index"]
      ]
    }],
    "@typescript-eslint/no-unused-vars": ["error", { "varsIgnorePattern": "^_" }],
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "eslint-comments/disable-enable-pair": ["error", {"allowWholeFile": true}]
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "project": "./"
      }
    }
  }
}
