@import "../../../styles/colors";

.event-card {
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.event-card__image {
  height: 80%;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  background-size: cover;
  background-image: url("../../../assets/images/cuba-1082913_1920.jpg");
  overflow: hidden;
}

.event-card__content {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  padding: 28px 24px;
  box-sizing: border-box;
  background-color: $color-purple-transparent-1;
}

.event-card__content__title {
  font-size: 18px;
  letter-spacing: 1.2px;
  color: $color-white;
  margin: 0;
}

.event-card__content__date {
  background-color: $color-gray-1;
  font-size: 12px;
  letter-spacing: 0.9px;
  padding: 8px 12px;
  margin: 20px auto 20px 0;
  border-radius: 6px;
}

.event-card__content__description {
  margin: 0;
  flex: 1;
  color: $color-white;
  letter-spacing: 1.2px;
  font-size: 16px;
  line-height: 18px;
}

.event-card__content__separator {
  height: 1px;
  width: 100%;
  background-color: $color-gray-1;
  margin: auto auto 12px;
}

.event-card__content__button {
  max-width: 180px;
}

.event-card__bottom {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-white;
  border-right: 2px $color-gray-2 solid;
  border-left: 2px $color-gray-2 solid;
  border-bottom: 2px $color-gray-2 solid;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}
