@import "../../../styles/colors";

$menu-block-radius: 16px;
$menu-block-radius--selected: 24px;
$menu-block-width: 100%;

.app-side-menu {
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 12px;
}

.app-side-menu__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: $menu-block-radius--selected;
  list-style: none;
  margin: 0;
  padding: 0;
}

.app-side-menu__block {
  width: $menu-block-width;
  height: 64px;
  display: flex;
  flex-direction: column;
  //background-color: $color-purple;
  color: $color-white;

  &:focus, &:active {
    outline: none;
  }
}

.app-side-menu__block--top {
  height: 10px;
  //background-color: $color-purple;
  box-sizing: border-box;
  border: none;

  div {
    width: 100%;
    height: 100%;
  }

  &.selected {
    background-color: $color-gray-1;

    div {
      border-bottom-right-radius: $menu-block-radius--selected;
      background-color: $color-error;
    }
  }
}

.app-side-menu__block--bottom {
  height: 10px;
  //background-color: $color-purple;
  box-sizing: border-box;

  div {
    width: 100%;
    height: 100%;
  }

  &.selected {
    background-color: $color-gray-1;

    div {
      border-top-right-radius: $menu-block-radius--selected;
      background-color: $color-error;
    }
  }
}

.app-side-menu__block__content {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background-color, color linear 500ms;

  &.selected {
    border-top-left-radius: $menu-block-radius--selected;
    border-bottom-left-radius: $menu-block-radius--selected;
    background-color: $color-gray-1;
    //color: $color-purple;
    width: 74%;
    margin-left: auto;
    justify-content: flex-start;

    span {
      margin-left: 13px;
    }
  }
}

.app-side-menu__action-block {
  width: $menu-block-width;
  height: 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $color-white;
  //background-color: $color-purple;
}

.app-side-menu__empty-block {
  width: $menu-block-width;
  flex: 1;
  display: flex;
  flex-direction: column;
  //background-color: $color-purple;
}
