@import "../../../styles/variables";
@import "../../../styles/colors";

.icon-button {
  border: none;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  border-radius: 50%;
  height: 42px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-button--transparent {
  background-color: transparent;

  &:hover {
    //background-color: $color-gray-2;
    box-shadow:
      -2px -2px 4px $color-white,
      2px 2px 4px $color-gray-3;
  }

  &:active {
    //background-color: $color-gray-2--dark;
    box-shadow:
      inset -2px -2px 4px $color-white,
      inset 2px 2px 4px $color-gray-3;
  }
}
