@import "../../../styles/colors";

.button {
  border: none;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  border-radius: 12px;
  height: 42px;
  color: white;
  font-size: 1rem;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &.primary {
    background-color: $color-brand;
  }

  &.transparent {
    background-color: transparent;
  }

  &.start {
    justify-content: flex-start;
  }

  &.center {
    justify-content: center;
  }

  &.end {
    justify-content: flex-end;
  }
}
