@import "../../styles/colors";

.event-card {
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.event-card__image {
  height: 80%;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  background-size: cover;
  background-image: url("../../assets/images/cuba-1082913_1920.jpg");
}

.event-card__bottom {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-gray-1;
  border-right: 2px $color-gray-2 solid;
  border-left: 2px $color-gray-2 solid;
  border-bottom: 2px $color-gray-2 solid;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}
