@import "../../../styles/colors";
@import "../../../styles/variables";

.menu-wrapper {
  display: flex;
  flex-direction: column;
}

.menu-container {
  position: relative;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 12px;
  min-width: 250px;
  border-radius: $element-border-radius;
  background-color: $color-gray-2;
  box-shadow:
    -2px -2px 4px $color-white,
    2px 2px 4px $color-gray-3;
}

.menu-item {
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  height: $element-height;
  padding: 0 8px;
  color: $color-dark-1;
  font-size: 1rem;
  transition: font-size ease-in-out 120ms;

  &:first-child {
    border-top-right-radius: $element-border-radius;
    border-top-left-radius: $element-border-radius;
  }

  &:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: $element-border-radius;
    border-bottom-left-radius: $element-border-radius;
  }

  &:hover {
    cursor: pointer;
    //background-color: $color-gray-2--dark;
    box-shadow:
      inset -2px -2px 4px $color-white,
      inset 2px 2px 4px $color-gray-3;
  }

  &:active {
    font-size: 1.15rem;
  }
}

.menu-item__icon {
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.menu-item__label {
  display: flex;
  align-items: center;

  span {
    margin-bottom: 2px;
  }

}

.menu-divider {
  width: 85%;
  height: 2px;
  margin: 6px auto;
  background-color: $color-gray-2--dark;
}
