@import "../../../styles/colors";

.app-aux-panel {
  width: 380px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-gray-1--light;
  padding-top: 32px;
}

.app-aux-panel__top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2rem;
}

.app-aux-panel__top__option {
  margin: 0 18px;
}

.app-aux-panel__body {
  flex: 1;
}
