// brand colors
$color-brand: #01b6f5;
//$color-brand: #8177f3;
$color-brand-active: #009acf;
$color-brand-light: rgba(0, 184, 245, 0.2);
$color-brand-2: #07b0ea;

// success colors
$color-success: #1de9b6;
$color-success-active: #1ad1a3;
$color-success-light: rgba(29, 233, 182, 0.2);

// destructive colors
$color-error: #fe4849;
$color-error-active: #ea4243;

// gray colors
$color-gray-1: #f4f6f9;
$color-gray-1--light: #edeff2;
$color-gray-2: #e3e5ed;
$color-gray-2--light: #ebedf5;
$color-gray-2--dark: #d8dae2;
$color-gray-3: #6b6d76;
$color-gray-4: #576574;
$color-gray-transparent-1: rgba(244, 246, 249, 0.4);
$color-gray-transparent-2: rgba(82, 95, 127, 0.3);
$color-gray-transparent-3: rgba(82, 95, 127, 0.15);

// text colors
$color-dark-1: #061c3f;

// yellow colors
$color-yellow-1: #fc0;

// purple colors
$color-purple: #6860c4;
$color-purple--light: #8777f9;
$color-purple--dark: #6f6fdd;
$color-purple-transparent-1: rgba(104,96,196,0.9);

$color-white: #fff;
