@font-face {
  font-family: 'Bitter-Regular';
  src: local('Bitter-Regular'), url('../../assets/fonts/Bitter-Regular.ttf');
}

@font-face {
  font-family: 'Bitter-ExtraBold';
  src: local('Bitter-ExtraBold'), url('../../assets/fonts/Bitter-ExtraBold.ttf');
}

@font-face {
  font-family: 'Bitter-ExtraLight';
  src: local('Bitter-ExtraLight'), url('../../assets/fonts/Bitter-ExtraLight.ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto-Regular'), url('../../assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: local('Roboto-Bold'), url('../../assets/fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto-Thin';
  src: local('Roboto-Thin'), url('../../assets/fonts/Roboto-Thin.ttf');
}

body {
  margin: 0;
  font-family: Roboto-Regular, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: #f5f6fa;

  #root {
    height: 100%;
  }
}
