@font-face {
  font-family: 'Comfortaa';
  src: local('Comfortaa'), url('../../assets/fonts/Comfortaa-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url('../../assets/fonts/Raleway-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand'), url('../../assets/fonts/Quicksand-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Nunito-Regular';
  src: local('Nunito-Regular'), url('../../assets/fonts/Nunito-Regular.ttf');
}


body {
  margin: 0;
  font-family: Nunito-Regular, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: #f5f6fa;

  #root {
    height: 100%;
  }
}
