@font-face {
  font-family: 'Nunito-Regular';
  src: local('Nunito-Regular'), url('../../assets/fonts/Nunito-Regular.ttf');
}

@font-face {
  font-family: 'Nunito-Light';
  src: local('Nunito-Light'), url('../../assets/fonts/Nunito-Light.ttf');
}

@font-face {
  font-family: 'Nunito-ExtraLight';
  src: local('Nunito-ExtraLight'), url('../../assets/fonts/Nunito-ExtraLight.ttf');
}

@font-face {
  font-family: 'Nunito-Bold';
  src: local('Nunito-Bold'), url('../../assets/fonts/Nunito-Bold.ttf');
}

@font-face {
  font-family: 'Nunito-ExtraBold';
  src: local('Nunito-ExtraBold'), url('../../assets/fonts/Nunito-ExtraBold.ttf');
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url('../../assets/fonts/Raleway-VariableFont_wght.ttf');
}


body {
  margin: 0;
  font-family: Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: #f5f6fa;

  #root {
    height: 100%;
  }
}
